.side-bar {
  @include mq(lg) {
    width: unset !important;
  }
}

.main {
  @include mq(lg) {
    margin-left: $nav-width !important;
    max-width: unset !important;
  }
}

/// Medalist tags ///
.label.label-gold {
  background-color: gold;
  color: black;
  font-weight: bold;
}

.label.label-silver {
  background-color: silver;
  color: black;
  font-weight: bold;
}

.label.label-bronze {
  background-color: #CD7F32;
  color: black;
  font-weight: bold;
}

/// Standings page ///
.problem-ac {
    font-weight: bold;
    color: green;
}

.problem-wa {
    font-weight: normal;
    color: red;
}

.team-name {
    font-weight: normal;
    color: #7C3AED;
}

/// User handles ///
.HOF-table .table-wrapper {
  @include mq(lg) {
    max-width: fit-content !important;
    width: fit-content !important;
  }
}
.HOF {
  @include mq(lg) {
    min-width: unset !important;
  }
}
.handle {
  font-weight:600;
}
.cf-GM, .cf-IGM {
  color: red;
}
.cf-IM, .cf-M {
  color: #ff8c00;
}
.ac-dan1, .ac-dan2 {
  color: #C0C000;
}
.ac-kyu1 {
  color: #0000FF;
}
.cc-7 {
  color: rgb(208, 1, 27);
}
.cc-6 {
  color: #FF7F00;
}
.tc-red {
  color: #EF3A3A;
}
.tc-yellow {
  color: #F2C900;
}
